<% order = order_form.object %>
<%= render "spree/shared/error_messages", target: order %>
<%= render partial: "spree/orders/line_item", collection: order.line_items, locals: { order_form: order_form } %>
<div class="summary_box">
  <p><%= t("spree.order_summary") %></p>
  <dl>
    <dt><%= t("spree.original_price") %></dt>
    <dd><%= order.display_total %></dd>
    <dt><%= t("spree.discount") %></dt>
    <dd><%= Spree::Money.new(order.display_total.to_d * 1.4).to_html %></dd>
    <% if order.adjustments.nonzero.exists? || order.line_item_adjustments.nonzero.exists? || order.shipment_adjustments.nonzero.exists? || order.shipments.any? %>
      <dt><%= t("spree.cart_subtotal", count: order.line_items.sum(:quantity)) %></dt>
      <dd><%= order.display_item_total %></dd>
      <%= render "spree/orders/adjustments" %>
    <% end %>
    <dt><%= t("spree.shipping") %></dt>
    <dd><%= t("spree.free") %></dd>
    <dt><%= t("spree.total") %></dt>
    <dd><%= order.display_total %></dd>
  </dl> 
</div>

