<p><%= wallet_payment_source.payment_source.name %></p>
<p><%= wallet_payment_source.payment_source.display_number %></p>
<p><%= wallet_payment_source.payment_source.month %></p>
<p><%= wallet_payment_source.payment_source.year %></p>
<div class="field radio">
  <%= radio_button_tag "order[wallet_payment_source_id]", wallet_payment_source.id, default %>
</div>

