<% param_prefix = "payment_source[#{ payment_method.id }]" %>
<label for="1"><input type="radio" id="1" name="payment" checked>Use credit card or debit card <%= image_tag "credit_cards.svg" %></label>
<div class="payment_option active">
  <form class="cc">
    <div>
      <%= text_field_tag "#{ param_prefix }[number]", "", { size: 19, maxlength: 19, autocomplete: "cc-number", type: "tel", required: true } %>
      <%= label_tag "card_number", t("spree.card_number"), class: "floated" %>
      <!--<span id="card_type">
        <span id="looks_like"><%#= t("spree.card_type_is") %>
        <span id="unrecognized"><%#= t("spree.unrecognized_card_type") %></span>
      </span>-->
    </div>
    <div>
      <%= text_field_tag "#{ param_prefix }[expiry]", "", placeholder: "MM / YY", type: "tel" %>
      <%= label_tag "card_expiry", "Expiry date (MM/YY)", class: "floated" %>
    </div>
    <div>
      <%= text_field_tag "#{ param_prefix }[verification_value]", "", { type: "tel", autocomplete: "off" } %>
      <%= label_tag "card_code", "Security code (CVV)", class: "floated" %>
      <%= link_to "(#{ t('spree.what_is_this') })", spree.cvv_path, target: "_blank" %>
    </div>
    <!--<div>
      <%#= text_field_tag "#{ param_prefix }[name]", @order.billing_name, { id: "name_on_card_#{ payment_method.id }", autocomplete: "cc-name" } %>
      <%#= label_tag "name_on_card_#{ payment_method.id }", t("spree.name_on_card"), class: "floated" %>
    </div>-->
  </form>
</div>
<% if @order.bill_address %>
  <%= fields_for "#{ param_prefix }[address_attributes]", @order.bill_address do |f| %>
    <%= render partial: "spree/address/form_hidden", locals: { form: f } %>
  <% end %>
<% end %>
<%= hidden_field_tag "#{ param_prefix }[cc_type]", "" %>

