<%= form_for :order, url: populate_orders_path do |f| %>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
        <div class="variants" style="display: none;">
          <%= radio_button_tag "variant_id", variant.id, index == 0, "data-price" => variant.price_for(current_pricing_options)  %>
          <%= label_tag "variant_id_#{ variant.id }" do %>
            <%= variant_options variant %>
            <%= variant_price variant if variant_price variant %>
            <% unless variant.can_supply? %>
              <%= t("spree.out_of_stock") %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>
    <% price = @product.price_for(current_pricing_options) %>
    <% if price and !@product.price.nil? %>
      <p class="price">40% off: <span class="original_price"><%= Spree::Money.new(price.to_d * 1.40).to_html %></span> <span itemprop="price" content="<%= price.to_d %>"><%= price.to_html %></span></p>
      <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
      <p class="downpayment">eller 4 gebyrfri nedbetalinger på <span class="installment"><%= Spree::Money.new(price.to_d / 4).to_html %></span> med <span class="klarna">Klarna</span></p>
      <% if @product.master.can_supply? %>
        <link itemprop="availability" href="http://schema.org/InStock" />
      <% elsif @product.variants.empty? %>
        <span><%= t("spree.out_of_stock") %></span>
      <% end %>
      <!-- Size guide -->
    </div>
    <%# if @product.affiliate == true %>
      <%#= link_to @product.affiliate.url, t("spree.add_to_cart"), class: "button" %>
    <%# else %>
      <%= button_tag class: "primary add_to_cart", type: :submit do %>
        <%= t("spree.add_to_cart") %>
      <% end %>
    <%# end %>
    <!-- Add to likes -->
  <% else %>
    <div class="price" itemprop="price"><%= t("spree.product_not_available_in_this_currency") %></div>
  <% end %>
<% end %>

